.create-routine-stack, .saved-routines-stack {
    height: 100%;
    width: 50%;
    vertical-align: center;
}

.create-routine-stack Label, .saved-routines-stack Label {
    text-align: center;
    font-weight: bold;
    color: white;
}

.create-routine-stack {
    background-color: #C1D37F;;
}

.saved-routines-stack {
    background-color: #F6E27F;
}
