<GridLayout
    class="countdown-timer container"
    [columns]="orientationService.orientation == 'portrait' ? '*' : '2*,auto'"
    [rows]="orientationService.orientation == 'portrait' ? '2*, auto' : '*'"
    [ngClass]="urgencyClass"
    hideActionBar
    audioHandler
    [timer]="timer"
    [changeSides]="changeSides">

    <StackLayout class="content" col="0" row="0" [ngClass]="orientationService.orientation">

        <StackLayout class="exercise-title">
            <Label [text]="currentExercise"></Label>
        </StackLayout>

        <StackLayout *ngIf="urgencyClass != 'changeTime'">
            <StackLayout *ngIf="timer >= 1 && timer > 9" class="countdown-double">
                <Label [text]="timer"></Label>
            </StackLayout>

            <StackLayout *ngIf="timer >= 1 && timer <= 9" class="countdown-single" #countdownSingle>
                <Label [text]="timer"></Label>
            </StackLayout>

            <StackLayout *ngIf="timer == 0" class="countdown-zero">
                <Label [text]="0!"></Label>
            </StackLayout>
        </StackLayout>

    </StackLayout>


    <StackLayout col="1" row="1" orientation="vertical">

        <StackLayout verticalAlignment="center">
            <GridLayout
                [columns]="orientationService.orientation == 'portrait' ? '*, *' : '*'"
                [rows]="orientationService.orientation == 'portrait' ? '*' : '*,*'">

                <Button *ngIf="!routineService.running" (tap)="startRoutine()" text="Start" col="0" [row]="orientationService.orientation == 'portrait' ? '0' : '1'"></Button>
                <Button (tap)="routingService.navigateToUrl(['/menu'])" text="Back" col="1" row="0"></Button>
            </GridLayout>
        </StackLayout>

    </StackLayout>
</GridLayout>
