.container.default {
    background-color: #C1D37F;
}

.container.urgent {
    background-color: #F4442E;
}

.container.middle {
    background-color: #FC9E4F;
}

.container.break {
    background-color: #F6E27F;
}

.container.changeTime {
    background-color: #F6E27F;
}

.content {
    text-align: center;
    font-size: 240;
    margin: 0 50;
    padding-top: 100;
    height: 100%;
}

.content.landscape {
    padding-top: 0;
    margin-right: -50;
}

.exercise-title Label {
    font-size: 80;
}

.content .countdown-double Label {
    font-size: 180;
}

.content.landscape .countdown-single Label, .content.landscape .countdown-zero Label {
    font-size: 180;
}

.content .countdown-single Label, .content .countdown-zero Label {
    font-size: 360;
}
