<GridLayout
    class="countdown-timer container"
    [columns]="orientationService.orientation == 'portrait' ? '*' : '2*,*'"
    [rows]="orientationService.orientation == 'portrait' ? '2*, *' : '*'"
    [ngClass]="urgencyClass"
    hideActionBar>

    <StackLayout class="content" col="0" row="0">

        <StackLayout class="exercise-title">
            <Label [text]="currentExercise"></Label>
        </StackLayout>

        <StackLayout *ngIf="urgencyClass != 'changeTime'">
            <StackLayout *ngIf="timer >= 1 && timer > 9" class="countdown-double">
                <Label [text]="timer"></Label>
            </StackLayout>

            <StackLayout *ngIf="timer >= 1 && timer <= 9" class="countdown-single" #countdownSingle>
                <Label [text]="timer"></Label>
            </StackLayout>

            <StackLayout *ngIf="timer == 0" class="countdown-zero">
                <Label [text]="0!"></Label>
            </StackLayout>
        </StackLayout>

    </StackLayout>


    <StackLayout col="1" row="1" orientation="vertical">

        <StackLayout verticalAlignment="center">
            <GridLayout columns="*, *" rows="auto, auto" >
                <Button *ngIf="!routineService.running" (tap)="startRoutine()" text="Start" column="0"></Button>
                <Button (tap)="routingService.navigateToUrl(['/menu'])" text="Back" column="1"></Button>
            </GridLayout>
        </StackLayout>

    </StackLayout>
</GridLayout>
