<StackLayout
    class="container"
    orientation="vertical"
    horizontalAlignment="center"
    height="100%" width="100%"
    [ngClass]="orientationService.orientation"
    [hideActionBar]>

    <GridLayout
        class="sequence-container"
        [columns]="orientationService.orientation == 'portrait' ? '*' : '*,*'"
        [rows]="orientationService.orientation == 'portrait' ? '*,*' : '*'"
        height="100%"
        verticalAlignment="center"
        horizontalAlignment="center" >

        <StackLayout
            class="sequence-container-child"
            col="0"
            row="0">

            <!-- Current Sequence Overview block -->

            <StackLayout class="sequence-overview" orientation="vertical">

                <StackLayout
                    height="100px"
                    class="routine-title"
                    horizontalAlignment="center">

                    <Label [text]="sequenceService.currentRoutineTitle"></Label>

                </StackLayout>

                <!-- Create combinations time-activity for sequence -->
                <StackLayout [height]="orientationService.orientation == 'portrait' ? '800px' : '650px'" horizontalAlignment="center">

                    <StackLayout *ngIf="sequenceService.currentSequence.length > 0">
                        <ListView id="sequence-listview" [items]="sequenceService.currentSequence" class="list-sequence" width="100%">
                            <ng-template let-item="item" let-i="index">
                                <GridLayout>
                                    <Label [text]="getString(item.duration, item.name)" class="list-sequence-item"></Label>
                                </GridLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>

                    <!-- Placeholder -->
                    <StackLayout *ngIf="sequenceService.currentSequence.length == 0" verticalAlignment="center">
                        <Label class="list-placeholder" text="Add activities to get started!"></Label>
                    </StackLayout>

                </StackLayout>

                <GridLayout verticalAlignment="bottom" columns="*, *, *" rows="*" class="start-button-grid">

                    <!-- Total duration -->
                    <StackLayout verticalAlignment="bottom" col="0" class="total-duration">
                        <Label [text]="getTotalString()"></Label>
                    </StackLayout>

                    <!-- Clear Button -->
                    <AbsoluteLayout class="clear-button" col="1" *ngIf="sequenceService.currentSequence.length != 0">
                        <Button text="Clear" class="btn btn-primary" (tap)="sequenceService.clearCurrentSequence()"></Button>
                    </AbsoluteLayout>

                    <!-- Start Button -->
                    <AbsoluteLayout class="start-button" col="2" *ngIf="sequenceService.currentSequence.length != 0">
                        <Button text="Start" class="btn btn-primary" (tap)="routingService.navigateToUrl(['/countdowntimer'])"></Button>
                    </AbsoluteLayout>

                </GridLayout>

            </StackLayout>

        </StackLayout>

        <!-- Sequence Creator block -->
        <StackLayout
            class="sequence-container-child"
            [col]="orientationService.orientation == 'portrait' ? '0' : '1'"
            [row]="orientationService.orientation == 'portrait' ? '1' : '0'"
            >

            <StackLayout class="sequence-creator">


                    <GridLayout columns="2*,*" rows="*">
                        <!-- List of activities -->
                        <StackLayout col="0">
                            <!-- Add activity button -->
                            <AbsoluteLayout class="addActivityButton">
                                <Button text="+" (tap)="addActivity()"></Button>
                            </AbsoluteLayout>

                            <ListView [items]="sequenceService.activities" class="activity-list">

                                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                    <GridLayout
                                    (tap)="selectActivity(item.name)"
                                    (longPress)="removeActivity(item.id, item.name)"
                                    [ngClass]="checkActSelection(item.name)">
                                        <Label [id]="'act' + item.name" [text]="item.name" class="activity-list-item"></Label>
                                    </GridLayout>
                                </ng-template>

                            </ListView>
                        </StackLayout>

                        <!-- Times to choose from -->
                        <StackLayout col="1">
                            <GridLayout rows="80, 80, 80" columns="*" class="times-list">
                                <Button id="breakButton" text="break" row="0" (tap)="selectActivity('break')" [ngClass]="checkTimeSelection('break')"></Button>
                                <Button id="30sButton"   text="30s"   row="1" (tap)="selectTime('30s')"       [ngClass]="checkTimeSelection('30s')"></Button>
                                <Button id="60sButton"   text="60s"   row="2" (tap)="selectTime('60s')"       [ngClass]="checkTimeSelection('60s')"></Button>
                            </GridLayout>
                        </StackLayout>

                    </GridLayout>

            </StackLayout>

        </StackLayout>

    </GridLayout>

</StackLayout>
