.container {
    padding-top: 32;
    background-color: #8AA399;
}

.routine-container-child {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20;
    border-color: #8AA399 #8AA399 #8AA399 #8AA399;
    border-width: 8 8 8 8;
}

.routine-container-child StackLayout {
    height: 95%;
    width: 95%;
}

.routine-title, .list-routine-item {
    text-align: center;
}

.routine-title {
    margin-left: -56;
}

.list-placeholder {
    white-space: normal;
    text-align: center;
}

.total-duration Label {
    white-space: normal;
    font-size: 14;
}

.total-duration {
    padding: 4;
}

.times-list {
    padding-top: 40;
}

.activity-list-item {
    text-align: center;
}

.activity-list GridLayout {
    padding-left: 10;
    padding-right: 10;
}

.start-button Button {
    background-color: #C1D37F;
}

.start-button Button, .clear-button Button {
    width: 88;
    height: 40;
}

.addActivityButton Button, .saveButton Button {
    height: 40;
    width: 40;
}

.saveButton Button {
    font-size: 12;
}

.saveButton {
    margin-top: 8;
    width: 56;
}
