/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
Button.-primary {
    font-size: 18;
}

Button, .activity-list Label {
    android-elevation: 4;
    background-color: #8AA399;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: whitesmoke;
    font-size: 18;
    font-weight: bold;
}

Button:active:not(Button.selected){
    android-elevation: 8;
    background-color: whitesmoke;
    border-color: darkolivegreen;
    border-width: 1;
    color: #8AA399;
    font-size: 18;
    font-weight: bold;
}

Label, Button {
    font-size: 18;
    font-family: monospace;
}

Button:highlighted, Label:highlighted {
    background-color: #C1D37F;
}

Button.selected, .activity-list GridLayout.selected Label {
    background-color: #F6e27F;
    color: #C1D37F;
}
