/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
Button.-primary {
    font-size: 18;
}

.activity-list Label {
    background-color: whitesmoke;
    color: #8AA399;
}

Button {
    background-color: #8AA399;
    color: whitesmoke;
}

Button, .activity-list Label {
    font-size: 18;
    font-weight: bold;
}

Button:active:not(Button.selected){
    android-elevation: 4;
    background-color: whitesmoke;
    color: #8AA399;
    font-size: 18;
    font-weight: bold;
}

Label, Button {
    font-size: 18;
    font-family: monospace;
}

Button.confirmAnimation:highlighted, Label.confirmAnimation:highlighted {
    animation-name: confirmAnimation;
    animation-duration: 500ms;
    color: whitesmoke;
}

@keyframes confirmAnimation {
    from { background-color: whitesmoke; }
    to { background-color: #C1D37F; }
}

@keyframes selectAnimation {
    from { background-color: #8AA399; }
    to { background-color: #C1D37F; }
}

Button.selectAnimation.selected, .activity-list GridLayout.selectAnimation.selected Label {
    animation-name: selectAnimation;
    animation-duration: 1s;
}

Button.selected, .activity-list GridLayout.selected Label {
    background-color: #C1D37F;
    color: whitesmoke;
}

.start-button Button {
    background-color: #C1D37F;
}

.start-button Button, .clear-button Button {
    width: 88;
    height: 40;
}

.addActivityButton, .saveButton {
    height: 40;
    width: 40;
}

.addActivityButton Label, .saveButton Label {
    font-size: 32;
    color: #8AA399;
}

/* FontAwesome */

.fas {
    font-family: "fa-solid-900";
}

.far {
    font-family: "fa-brands-400";
}

.fab {
    font-family: "fa-brands-400";
}
